<a href="https://colab.research.google.com/github/Asitbhusan/2121206050-ECE/blob/main/ECE_04_02_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# using of / ,// and ** in arithemetic operator
a=2
b=4
c=a/b
print(c)
d=a//b
print(d)
e=a**b
print(e)

0.5
0
16

In [4]:
#Using Arithmetic operators and Comparision operators.
a=5
b=2
print('a/b=',a/b)
print('a//b=',a//b)
print('a**b=',a**b)
print('a<b=',a<b)
print('a>b=',a>b)

a/b= 2.5
a//b= 2
a**b= 25
a<b= False
a>b= True

In [6]:
#Using Logical Operators
a=True
print('not A=',not a)
b=False
print('not B=',not b)

not A= False
not B= True

In [7]:
#Using Bitwise Operator
a=2
b=3
c=a<<b
print('a<<b=',c)

a<<b= 16

In [8]:
#Using Identity Operator (is and is not),
a=5
b=5
print('a is b',a is b)
print('a is not b',a is not b)
x='CSE'
y='ECE'
print('x is y',x is y)
print('x is not y',x is not y)

a is b True
a is not b False
x is y False
x is not y True

In [9]:
#Using Membership operator (in and not in)
a='Hello ECE'
print('A in a =',a in 'A')

A in a = False

In [15]:
num=int(input("enter the number?"))
if num%2 == 0:
    print("Number is even")
else:
    print("Number is odd")

enter the number?20
Number is even

In [16]:
#Using if..elif statement
number=int(input("Enter the number?"))
if number==10:
  print("number is equals to 10")
elif number==50:
  print("number is equals to 50")
elif number==100:
  print("number is equals to 100")
else:
  print("number is equals to 10, 50 or 100")

Enter the number?50
number is equals to 50